body {
  max-width: 1250px
}
  
.header {
  height: 10em;
  background-image: url(../img/san-logo.png);
  background-color:rgb(143, 6, 6);
  background-position: right;
  background-repeat: no-repeat;
  background-size:10em;
  }
  
.header h1 {
  margin: 0em;
  font-size: 3em;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: white;
  text-decoration: underline;
  }

.header p {
    color: white;
    font-size: 2em;
  } 

.products {
  background-color: white;
  padding: 4em;
}

.container {
  display:flex;
  align-items: center;
  justify-content:space-evenly;
  padding: 1em;
}

.container img {
  height: 14em;
}

.container p{
  font-size: large;
  font-weight: bold;
  text-align: center;
}

.footer {
  text-align: center;
  height: 1em;
  background-color: rgb(143, 6, 6); 
  padding: 2em;
  color: white;
  font-weight: bold;
  font-size: large;  
}

a { 
  text-decoration: none;
  color: white;
}